@import '../../../styles/modules/_colors.scss';
@import '../../../styles/modules/_fonts.scss';
@import '../../../styles/modules/_mixins.scss';

.HeroHeaderWithPhoto {
    background-color: $color-black;
    background-image: url('../../../assets/vectors/heroheader-background0.jpg');
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    h1 {
        border-bottom: 3px solid $color-light;
        color: $color-white;
        font-size: $font-primary-size-title;
        font-weight: $font-primary-weight-normal;
        margin: 0;
    }
    h2 {
        color: $color-light;
        font-size: $font-primary-size-subtitle;
        font-weight: $font-primary-weight-light;
    }
    .body {
        flex-grow: 1;
    }
    .herofooter {
        margin-bottom: 20px;
        & > .icon {
            background-image: url('../../../assets/vectors/icon-mouse/icon-mouse.png') no-repeat;
            @include image-2x('../../../assets/vectors/icon-mouse/icon-mouse@2x.png', 40px, 40px);
            display: flex;
            height: 40px;
            margin: 10px 0;
            width: 40px;
        }
        & > .caption {
            color: $color-light;
            font-size: $font-primary-size-caption;
        }
    }
}