$font-primary-family: 'Lato', sans-serif;
$font-primary-size-body: 1.0em;
$font-primary-size-subtitle: 1.6em;
$font-primary-size-title: 3.0em;
$font-primary-weight-bold: 700;
$font-primary-weight-light: 300;
$font-primary-weight-normal: 400;