@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import '_colors.scss';
@import '_fonts.scss';
@import '_variables.scss';

/* Global Rules */

:global {
    BODY {
        font-family: $font-primary-family;
        margin: 0;
        padding: 0;
    }
    button.btn {
        background-color: $color-white;
        border: 2px solid $color-dark;
        border-radius: 100px;
        font-size: $font-primary-size-caption;
        font-weight: $font-primary-weight-bold;
        margin: 10px 0;
        padding: 15px 25px;
        text-transform: uppercase;
        transition: background-color ease-in 0.15s;
        will-change: background-color;
        &:hover {
            background-color: darken($color: $color-white, $amount: 5%);
            cursor: pointer;
        }
        &.btn-primary {
            color: $color-primary;
            border-color: $color-primary;
        }
        &.btn-secondary {
            color: $color-secondary;
            border-color: $color-secondary;
            &.btn-secondary-inverted {
                background-color: $color-secondary;
                border-color: $color-secondary;
                color: $color-white;
            }
        }
    }
    a {
        color: $color-primary;
        text-decoration: none;
        transition: color ease-in 0.05s;
        will-change: color;
        &:hover {
            color: darken($color: $color-primary, $amount: 20%);
            cursor: pointer;
        }
    }
    p {
        font-size: $font-primary-size-body;
        line-height: $font-primary-size-body * 1.50;
        &.caption {
            font-size: $font-primary-size-caption;
        }
    }
    .divide {
        display: block;
        &.divide-10 {
            height: 10px;
        }
        &.divide-20 {
            height: 20px;
        }
        &.divide-50 {
            height: 50px;
        }
    }
    .area {
        align-items: stretch;
        display: flex;
        flex-flow: row wrap;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 10px 10px 10px;
        @media(max-width: $collapse-breakpoint) {
            padding-left: 15px;
            padding-right: 15px;
        }
        @media(min-width: 768px) {
            width: 750px;
        }
        @media(min-width: 992px) {
            width: 970px;
        }
        @media(min-width: 1200px) {
            width: 1140px;
        }
        &.-small {
            @media(min-width: 768px) {
                width: 450px;
            }
            @media(min-width: 992px) {
                width: 670px;
            }
            @media(min-width: 1200px) {
                width: 840px;
            }
        }
        &.-nowrap {
            flex-wrap: none;
        }
    }
    .flex-container {
        display: flex;
    }
    .flex-d {
        &.flex-d-column {
            flex-direction: column;
        }
        &.flex-d-row {
            flex-direction: row;
        }
    }
    .flex-ai {
        &.flex-ai-center {
            align-items: center;
        }
        &.flex-ai-end {
            align-items: flex-end;
        }
        &.flex-ai-start {
            align-items: flex-start;
        }
    }
    .flex-jc {
        &.flex-jc-center {
            justify-content: center;
        }
        &.flex-jc-end {
            justify-content: flex-end;
        }
        &.flex-jc-spacearound {
            justify-content: space-around;
        }
        &.flex-jc-spacebetween {
            justify-content: space-between;
        }
        &.flex-jc-start {
            justify-content: flex-start;
        }
    }
    .section {
        display: flex;
        h2 {
            border-bottom: 3px solid $color-primary;
            color: $color-black;
            font-size: $font-primary-size-title;
            font-weight: $font-primary-weight-light;
            padding: 5px 10px;
        }
        h3 {
            font-size: $font-primary-size-subtitle;
            font-weight: $font-primary-weight-normal;
        }
        p.body {
            text-align: center;
        }
        hr {
            border-top: 1px solid $color-light;
            margin: 20px 0;
            width: 100%;
        }
        &.section-light {
            background-color: $color-light;
            hr {
                border-top: 1px solid darken($color: $color-light, $amount: 10%);
            }
        }
    }
}