@import '../../../styles/modules/_colors.scss';
@import '../../../styles/modules/_fonts.scss';

.ContactArea {
    background-color: $color-white;
    ul.contacts {
        list-style: none;
        & > li {
            margin: 10px 0;
            text-align: center;
        }
    }
}